<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-lg-3 col-sm-6">
    <div id="user-info">
    <div id="avatar">
    <%= image_tag @user.avatar.url(:thumb)  %>
    </div>
    <div id="text">
    <h1 id="info"> Username:
      <%= @user.username %>
    </h1>
    <h2 id="info"> Hometown:
      <%= @user.hometown %>
    </h2>
    <h2 id="info"> Age:
      <%= @user.age %>
    </h2>
    </div>
    </div>
    <hr/>
  </div>
</div>






    <% @user_stories.each do |story| %>
      <%= link_to (image_tag story.image.url(:medium)), story %>
    <% end %>
</body>
<style>
#user-info {
    padding-left: 20px;
    width: 1000px;
    display: block; 
    background-color: lightgrey;
  }

  #avatar {
    display: inline-block;
    border-radius: 1px;
      box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3); 
    position: relative;
      left: 170px;
      bottom: 35px;
    }
#info {
      color: #BD1E23;
     }


  #text { 
    padding-left: 10px;
    width: 350px;
    display: inline-block;
    background-color: white;
    border-radius: 1px;
      box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3); 
    position: relative;
      top: 45px;
      left: 200px;

   }
</style>
</html>





