
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-sm-6">
     <div class="card-background">
           <div class="cardheader">

                </div>

<div class="col-md-3">
  <div>
    <%= image_tag current_user.avatar.url(:thumb)  %>
    </div>
    <h1>
      <%= current_user.username %>
    </h1>
    <h2>
      <%= current_user.hometown %>
    </h2>
    <h2>
      <%= current_user.age %>
    </h2>
    <hr/>
  </div>
</div>
</div>
</div>
</div>
<hr/>
  <% if current_user.stories.empty? %>
<p>
  Share your Posts to the World!
</p>
<% end %>
    <% current_user.stories.each do |story| %>
      <%= link_to (image_tag story.image.url(:medium)), story %>
    <% end %>



